[submodule "axi-dma-sp-cora-z7-07s"]
	path = simple-polling
	url = https://github.com/BekdoucheAmine/axi-dma-sp-cora-z7-07s.git
	branch = main
[submodule "axi-dma-intr-cora-z7-07s"]
	path = interrupt
	url = https://github.com/BekdoucheAmine/axi-dma-intr-cora-z7-07s.git
	branch = main
[submodule "axi-dma-sg-cora-z7-07s"]
	path = scatter-gather
	url = https://github.com/BekdoucheAmine/axi-dma-sg-cora-z7-07s.git
	branch = main
